<div class="container">
  <div class='card'>
    <div class='card-header'>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <h2 class="navbar-brand">Edit employee</h2>
        </li>
        <li class="nav-item" style="margin-left: 45rem;">
          <button class='btn btn-primary' style="background-color: #563d7c;" ></button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="container">
          <input type="hidden" name="id" [value]='id'/>
          <div class="form-group row">
            <label class="col-md-4" for="fname">Name : </label>
            <input type="text" id="fname" name="fname" [(ngModel)]='Name'>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="lname">Date of Birth : </label>
            <input type="text" id="lname" name="lname" [(ngModel)]='DOB'>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="email">Email : </label>
            <input type="email" id="email" name="email" [(ngModel)]='email'>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="cno">Date of Joining :</label>
            <input type="text" id="cno" name="cno" [(ngModel)]='DOJ'>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="uname">salary :</label>
            <input type="number" id="uname" name="uname" [(ngModel)]='salary'>
          </div>

          <input class='btn btn-primary' type="button" value="Save" style="background-color: #563d7c;" (click)='editEmployee()'>
        </div>
      </form>
    </div>
  </div>
</div>
