<div class="container">
  <div class='card'>
    <div class='card-header'>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <h2 class="navbar-brand">add employee</h2>
        </li>
        <li class="nav-item" style="margin-left: 45rem;">
          <button class='btn btn-primary' style="background-color: #563d7c;" </button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <form #form="ngForm">
        <div class="container">
          <input type="hidden" name="id" [value]='id' />
          <div class="form-group row">
            <label class="col-md-4" for="fname">Name : </label>
            <input type="text" id="fname" name="fname" [(ngModel)]='Name' required>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="lname">Date of Birth : </label>
            <input type="date" id="lname" name="lname" [(ngModel)]='DOB' required>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="email">Email : </label>
            <input type="email" id="email" name="email" [(ngModel)]='email' 
                   #email="ngModel">
            <div class="alert-danger" *ngIf="email.errors && (email.dirty || email.touched)" style="padding:2px;">
              <span *ngIf="email.errors.required">Email is required</span>
              <span *ngIf="email.errors.pattern">Email formate is not valid</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="cno">Date of Joining :</label>
            <input type="date" id="cno" name="cno" [(ngModel)]='DOJ' required>
          </div>
          <div class="form-group row">
            <label class="col-md-4" for="uname">salary :</label>
            <input type="number" id="uname" name="uname" [(ngModel)]='salary' required>
          </div>

          <input [disabled]="!form.valid" class='btn btn-primary' type="button" value="Add" style="background-color: #563d7c;" (click)='add()'>
        </div>
      </form>
    </div>
  </div>
</div>
