<p>employeelist works!</p>
<h2 class="text-center" style="padding: 10px;">employee list</h2>
<div class='card'>
  <div class='card-header'>
    <div class='row' style="padding:10px">
      <div class='col-md-1'>Search :</div>
      <div class='col-md-2'>employee Name</div>
      <div class='col-md-7'>
        <input type='text' [(ngModel)]='searchFilter' />
      </div>
      <div class='col-md-2'>
        <button class='btn btn-primary' style="background-color: #563d7c;" </button>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table' *ngIf='e1'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Joining</th>
            <th>Date Of Birth</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let emp of e1 | employeeFilter:searchFilter'>
            <td>{{emp.name}}</td>
            <td>{{emp.email}}</td>
            <td>{{emp.DOJ}}</td>
            <td>{{emp.DOB}}</td>
            <td><button class='btn btn-primary' style="background-color: #563d7c;" </button></td>
            <td><button class='btn btn-primary' style="background-color: #563d7c;" (click)="delete(id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
